In [22]:
import pandas as pd

df2022 = pd.read_excel('./data3/predict/sumbmit2022.xlsx')
df2023 = pd.read_excel('./data3/predict/sumbmit2023.xlsx')

In [23]:
df_combined = pd.concat([df2022, df2023])

In [24]:
df_combined['index_save']

0         20
1         21
2         22
3         23
4         24
        ...
1987    4507
1988    4508
1989    4509
1990    4510
1991    4511
Name: index_save, Length: 4512, dtype: int64

In [25]:
df_combined.sort_values('index_save')

,code_discription,address_raw,data_short,index_save,cost
353,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,2022-03-01,0,30173.146256
354,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,2022-04-01,1,26250.584956
355,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,2022-05-01,2,19972.237939
356,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,2022-06-01,3,16155.154381
357,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,2022-07-01,4,16641.837258
...,...,...,...,...,...
1987,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,2023-01-01,4507,164949.008688
1988,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,2023-01-01,4508,164949.008688
1989,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,2023-01-01,4509,164949.008688
1990,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,2023-01-01,4510,164949.008688
1991,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,2023-02-01,4511,101358.906672

In [27]:
df_combined['data_short'] = pd.to_datetime(df_combined['data_short'], format='%m-%Y').dt.strftime('%m-%Y')

In [29]:
df_combined.sort_values('index_save')

,code_discription,address_raw,data_short,index_save,cost
353,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,03-2022,0,30173.146256
354,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,04-2022,1,26250.584956
355,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,05-2022,2,19972.237939
356,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,06-2022,3,16155.154381
357,Электроэнергия,134.1000.01 дгу. оплата за электроэнергию по т...,07-2022,4,16641.837258
...,...,...,...,...,...
1987,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,01-2023,4507,164949.008688
1988,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,01-2023,4508,164949.008688
1989,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,01-2023,4509,164949.008688
1990,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,01-2023,4510,164949.008688
1991,Коммунальные услуги (расходы прошлых лет),134.1000.05 якутия оплата потребления газа ул....,02-2023,4511,101358.906672

In [40]:
df_combined=df_combined.set_index('index_save')

In [50]:
df_combined.sort_index().to_csv('./submit.csv', index=None)